@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&display=swap');

* {
    font-family: "Overpass", serif;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.w-100 {
    width: 100%;
}